.teamContainer {
    padding: 192px 0px;
}
.teamDiv {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
.titleDiv {
    width: 352px;
    height: 136px;
    text-align: center;
}
.title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.subTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.imageDiv {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-between;
}
.img1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: contain;
}
.img2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    object-fit: contain;
}
.img3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: contain;
}
.vector1 {
    position: relative;
    left: 50%;
    width: 378px;
    height: 205px;
}

@media (max-width: 600px) {
    .teamContainer {
        padding: 102px 0px;
    }
    .titleDiv {
        width: 288px;
        height: 103px;

        margin-bottom: 40px;
    }
    .title {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 8px;
    }
    .subTitle {
        font-size: 15px;
        line-height: 26px;
    }
    .imageDiv {
        width: 100%;
        height: fit-content;

        flex-direction: column;
    }
    .img1 {
        object-fit: contain;
        width: 200px !important;
        height: 170px !important;
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-start;
    }
    .img2 {
        object-fit: contain;
        width: 200px !important;
        height: 170px !important ;
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-end;
    }
    .img3 {
        width: 200px !important;
        height: 170px !important;
        flex-direction: row;
        justify-content: flex-start;
    }
}
