.teamContainer {
    padding: 192px 0px;
}
.teamDiv {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
.titleDiv {
    width: 352px;
    height: 136px;
    text-align: center;
}
.title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.subTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.imageDiv {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.line1 {
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: -1;
}
.line2 {
    position: absolute;
    bottom: 10%;
    right: 8%;
    z-index: -1;
}
.imgOneContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: contain;
}
.img2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    object-fit: contain;
}
.img3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: contain;
}
.vector1 {
    position: relative;
    left: 50%;
    width: 378px;
    height: 205px;
}

@media (max-width: 600px) {
    .teamContainer {
        padding: 20px 20px;
    }
    .teamDiv {
        margin: 0px;
        max-width: 98vw;
    }

    .titleDiv {
        width: 288px;
        height: 103px;

        margin-bottom: 40px;
    }
    .title {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 8px;
    }
    .subTitle {
        font-size: 15px;
        line-height: 26px;
    }
    .imageDiv {
        width: 90vw;
        height: fit-content;

        flex-direction: column;
    }

    .imgOneContainer {
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-start;
        width: 3vw !important ;
    }
    .imgOne {
        width: 53vw;
    }
    .img2 {
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-end;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .img3 {
        flex-direction: row;
        justify-content: flex-start;
    }
    .imgThree {
        width: 46vw;
    }

    .line2 {
        bottom: 30%;
        right: 25%;

        transform: rotate(130deg);
    }
    .lineTwo {
        width: 63vw;
    }

    .line1 {
        transform: rotate(50deg);
        top: 10%;
        right: 20%;
    }
    .lineOne {
        max-width: 80vw;
    }
    .imgTwo {
        width: 56vw;
    }
}
@media (min-width: 600px) and (max-width: 1000px) {
    .teamDiv {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        max-width: 95vw;
    }
    .imgTwo {
        width: 45vw;
    }
    .line1 {
        transform: rotate(30deg);
        top: 15%;
        right: 15%;
    }
    .lineOne {
    }
    .teamContainer {
        padding: 102px 0px;
    }
    .titleDiv {
        max-width: 288px;
        height: 103px;

        margin-bottom: 40px;
    }
    .title {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 8px;
    }
    .subTitle {
        font-size: 15px;
        line-height: 26px;
    }
    .imageDiv {
        width: 100%;
        height: fit-content;

        flex-direction: column;
    }

    .imgOneContainer {
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-start;
        width: 3vw !important ;
    }
    .imgOne {
        width: 53vw;
    }
    .img2 {
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-end;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .img3 {
        flex-direction: row;
        justify-content: flex-start;
    }
    .imgThree {
        width: 36vw;
    }

    .line2 {
        bottom: 20%;
        right: 15%;

        transform: rotate(150deg);
    }
    .lineTwo {
        width: 63vw;
    }
}
