.loginContainer {
    background-color: #ffbd9e;
    padding: 104px;
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}

.loginText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: 'Poppins';
    max-width: 389px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 40px;
}
.text {
    max-width: 389px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.loginForm {
    position: relative;
    padding: 40px 55px;
    width: 422px;
    height: 352px;
    background: #f7f3f4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.loginTitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
}
.input1,
.input2 {
    width: 312px;
    height: 48px;
    background: #ffffff;
    border-radius: 40px;
    border-color: transparent;
    padding-left: 24px;
}
.loginButton {
    width: 312px;
    height: 48px;
    border: 0;
    background: #f2726c;
    border-radius: 30px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    width: 291px;
    height: 48px;
}
.redVector {
    position: absolute;
    top: -16px;
    right: -16px;
}
.purpleVector {
    position: absolute;
    top: 66px;
    right: -16px;
}

@media (max-width: 600px) {
    .loginContainer {
        padding: 42px 18px 56px 18px;
        width: 100%;
        flex-direction: column;
    }
    .title {
        max-width: 288px;

        font-size: 28px;
        line-height: 150%;
        margin-bottom: 20px;
    }
    .text {
        max-width: 312px;
        font-family: 'Poppins';
        font-style: normal;
        height: 105px;
        font-size: 15px;
        line-height: 175%;

        margin-bottom: 55px;
    }
    .loginForm {
        position: relative;
        padding: 40px 24px;
        width: 339px;
        height: 328px;
        margin: auto;
    }
    .loginTitle {
        font-family: 'Poppins';
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
    }
    .input1 {
        width: 291px;
        height: 48px;
        margin-bottom: 16px;
    }
    .input2 {
        width: 291px;
        height: 48px;
        margin-bottom: 36px;
    }
    .loginButton {
        width: 291px;
        height: 48px;
    }
}
