.container {
    width: 100vw;
    background-color: #ffbd9e;
    margin: 0px auto;
    padding: 104px 0px;
}

.slider {
    background-color: green;
}

.sliderItem {
    background-color: orange;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sliderSelectedItem {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.sliderDiv {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}
.sliderImg {
    object-fit: contain;
    min-width: 276px;
    min-height: 281px;
}
.sliderTitle {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: white;
}

.sliderControles {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px auto 0px auto;
}

.controleSvg {
    width: 8px;
    height: 15px;
}
.controleSvg:hover {
    cursor: pointer;
}
.controleText {
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding: 0px 40px;
}
