.footerContainer {
    font-family: 'Poppins';
    font-style: normal;
    width: 100vw;
    height: 336px;
    padding: 96px 160px;
    display: flex;
    justify-content: space-between;
    color: #333333;
}
.bigTitle {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
}
.description {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}
.smallTitle {
    margin-bottom: 37px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.imagesContainer {
    display: flex;
    justify-content: space-between;
}
.image {
    cursor: pointer;
}
.horizontalDiv {
    display: flex;
    flex-direction: row;
    flex: 2;
}
.containerDiv,
.containerDiv1,
.containerDiv2 {
    flex: 1;
}

@media (max-width: 600px) {
    .footerContainer {
        padding: 42px 30px;
        flex-direction: column;
    }
    .containerDiv {
        margin-bottom: 15px;
    }
    .bigTitle {
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 0px;
    }
    .smallTitle {
        font-size: 18px;
        line-height: 32px;
        width: 124px;
        margin-bottom: 15px;
    }
    .horizontalDiv {
        display: flex;
        flex-direction: row;
    }
    .description {
        font-size: 12px;
        line-height: 24px;
    }
    .containerDiv2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .imagesContainer {
        width: 124px;
        justify-content: space-between;
    }
}
